/*  VISUALISATION DES BLOCS  */

/*div, header, section, article, aside, nav {
	border: 1px dashed rgba(0,0,0,0.15);
	background-color: rgba(0,0,0,0.05);
}*/

/*.clear {
	border: 1px dashed red;
}*/

/*GLOBAL */
body {
	margin: 0;
	color: #424953;
	line-height: 1.8;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 1em;
	background-image: url(../img/fond.png);
}

a {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	min-width: 800px;
	margin: 0 auto;
}

h1, h2, h3 {
	font-family: "Slabo 27px";
	font-weight: normal;
	margin: 0;
}

/* CTA = Call To Action */
.cta {
	font-family: "Slabo 27px";
	font-size: 1.1em;
	color: white;
	background-color: #1B9CA2;
	padding: 5px 15px;
	float: right;
	margin-top: 15px;
}

.cta i {
	margin-left: 10px;
}

/* HEADER */
header {
	background-color: #25B3B4;
	border-top: 5px solid #1B9CA2;
	border-bottom: 5px solid #1B9CA2;
	margin-top: 100px;
	text-align: center;
}

header a {
	display: inline-block;
	font-family: "Slabo 27px";
	font-size: 1.4em;
	color: white;
	padding: 15px;
}

/* CONTENT */
#presentation p {
	margin: 15px 0;
}

#presentation h1 {
	text-align: center;
	font-size: 2.5em;
}

#presentation {
	width: 750px;
	margin: 50px auto 0;
	text-align: center;
}

/* Rubrique Recette */
#recipe {
	width: 65%;
	display: inline-block;
	vertical-align: top;
	background-color: #B6DFDD;
	padding: 2.5%;
	margin: 50px 2% 0 0;
}

#recipe h2 {
	font-size: 3.5em;
	text-align: center;
}

#recipe h2 span {
	color: #1b9ca2;
}

#recipe h3 {
	text-align: center;
	font-size: 1.8em;
}

#recipe h3 i {
	color: #25B3B4;
	margin: 0 5px;
	font-size: 0.8em;
}

#recipe article {
	display: inline-block;
	vertical-align: top;
	width: 44%;
	padding: 2.5%;
}

#recipe img {
	float: left;
	margin-right: 15px;
	border-radius: 50%;
}

/* Rubrique Evenement */
aside {
	width: 20%;
	display: inline-block;
	padding: 2.5%;
	margin-top: 50px;
	background-color: #25B3B4;
	color: white;
	border: 5px solid #1B9CA2;
}

aside h2 {
	font-size: 1.4em;
}

aside span {
	color: #B6DFDD;
}

aside a {
	color: #B6DFDD;
}

aside p {
	font-size: 0.9em;
	margin: 0 0 15px;
}

#vignette {
	margin: -75px -75px 0 0;
	float: right;
}
